<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuberose.clock.business.mapper.DailyCarriageMapper">
    <resultMap id="DailyCarriageMap" type="com.tuberose.clock.business.entity.DailyCarriage">
        <id column="daily_carriage_id" jdbcType="BIGINT" property="dailyCarriageId"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="train_code" jdbcType="VARCHAR" property="trainCode"/>
        <result column="index" jdbcType="INTEGER" property="index"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <insert id="insert">
        insert into daily_carriage (daily_carriage_id, date, train_code, `index`, type)
            values (#{dailyCarriageId}, #{date}, #{trainCode}, #{index}, #{type})
    </insert>
    <delete id="deleteByDateAndTrainCode">
        delete from daily_carriage where date = #{date} and train_code = #{trainCode}
    </delete>
    <delete id="deleteByDate">
        delete from daily_carriage where date = #{date}
    </delete>
</mapper>