<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuberose.clock.business.mapper.DailySeatMapper">
    <resultMap id="DailySeatMap" type="com.tuberose.clock.business.entity.DailySeat">
        <id column="daily_seat_id" jdbcType="BIGINT" property="dailySeatId"/>
        <result column="daily_carriage_id" jdbcType="BIGINT" property="dailyCarriageId"/>
        <result column="row" jdbcType="CHAR" property="row"/>
        <result column="col" jdbcType="CHAR" property="col"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
    </resultMap>
    <insert id="insert">
        insert into daily_seat (daily_seat_id, daily_carriage_id, `row`, `col`, number, state)
        values (#{dailySeatId}, #{dailyCarriageId}, #{row}, #{col}, #{number}, #{state})
    </insert>
    <update id="updateState">
        update daily_seat set state = #{state} where daily_seat_id = #{dailySeatId}
    </update>
    <delete id="deleteByDailyCarriageId">
        delete from daily_seat where daily_carriage_id = #{dailyCarriageId}
    </delete>
    <select id="countByDailyTrainIdAndTypeAndState" resultType="java.lang.Integer">
        select count(*) from daily_seat
            where daily_carriage_id in
            (select daily_carriage_id from daily_carriage where daily_train_id = #{dailyTrainId} and type = #{type})
            and state like #{pattern}
    </select>
    <select id="selectOneByDailyCarriageIdAndColAndState"
            resultType="com.tuberose.clock.business.entity.DailySeat"
            resultMap="DailySeatMap">
        select * from daily_seat
            <where>
                <if test="dailyCarriageId != null"> daily_carriage_id = #{dailyCarriageId} </if>
                <if test="col != null"> and `col` = #{col}</if>
                <if test="pattern != null"> and state like #{pattern}</if>
            </where>
            limit 1 for update
    </select>
</mapper>